.popup {
  display: none;
  grid-template-columns: 1fr 282px 1fr;
  grid-template-rows: auto 322px auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, .5);
}

@media screen and (min-width: 525px) {
  .popup {
    grid-template-columns: 1fr 430px 1fr;
    grid-template-rows: auto 330px auto;
  }
}