.popup__button_disabled {
  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 2px;
  opacity: .2;
  color: #000000;
  cursor: not-allowed;
}

.popup__button_disabled:hover {
  opacity: .2;
}
