.popup__save-btn {
  margin: 45px 0 0;
  padding: 0;
  width: calc((238 / 282) * 100%);
  aspect-ratio: 238 / 46;
  background: #000000;
  border: 0;
  border-radius: 2px;
  font-family: 'Inter', ‘Arial’, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}

.popup__save-btn:hover {
  opacity: 0.8;
}

@media screen and (min-width: 525px) {
  .popup__save-btn {
    margin: 48px 0 0;
    width: calc((358 / 430) * 100%);
  }
}
@media screen and (min-width: 768px) {
  .popup__save-btn {
    font-size: 18px;
    line-height: 22px;
  }
}