.pop-up__close-btn {
  padding: 0;
  width: 20px;
  position: absolute;
  top: -36px;
  right: 0;
  aspect-ratio: 1;
  border: 0;
  background: url(/images/pop-up-close.svg) no-repeat center;
  background-size: cover;
  cursor: pointer;
  justify-self: flex-end;
}

@media screen and (min-width: 525px) {
  .pop-up__close-btn {
    width: 32px;
    top: -40px;
    right: -40px;
  }

}